<nav class="navbar fixed-top navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand extern-rainbow-text">AWESITE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="about">About</a>
        <a class="nav-link" routerLink="buttons">Gifs</a>
        <a class="nav-link" routerLink="music">Music</a>
        <a class="nav-link" routerLink="anime">Anime</a>
        <a class="nav-link" routerLink="ideas">Clipboard</a>
        <a class="nav-link" routerLink="cli">CLI</a>
        <a class="nav-link" routerLink="spam">Shop</a>
      </div>
      <a class="nav-link dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Options
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item">
              <audio controls>
                <source src="assets/lofi-bg.mp3" type="audio/mpeg" />
              </audio>
            </a>
          </li>
        </ul>
      </a>
    </div>
  </div>
</nav>
