.nav-link {
  color: white;
  padding: 8px !important;
}

.nav-link:hover {
  cursor: pointer;
  background-color: rgb(102, 102, 204);
}

.navbar-brand:hover {
  cursor: default;
}

.navbar {
  font-weight: 200 !important;
  font-size: 20px !important;
}

.navbar-brand {
  color: white;
}

.pengu2 {
  width: 15%;
  transform: scaleX(-1);
}

.pengu{
  width: 15%;
}

.form-check {
  z-index: 200;
  color: #fff;
  position: absolute;
  right: 1%;
}
