<header class="header-background">
  <table class="center">
    <tr>
      <th>
        <img class="header-anime" src="../../assets/Elpeo PleL.gif" />
      </th>
      <th><h1 class="extern-rainbow-text">AWESITE</h1></th>
      <th>
        <img class="header-anime" src="../../assets/Elpeo PleR.gif" />
      </th>
    </tr>
  </table>
</header>

<table class="center">
  <tr>
    <th class="click" routerLink="about">About</th>
    <th class="click" routerLink="buttons">Buttons n Gifs</th>
    <th class="click" routerLink="music">Music</th>
    <th class="click" routerLink="anime">Anime</th>
    <th class="click" routerLink="ideas">Clipboard</th>
    <th class="click" routerLink="cli">CLI</th>
  </tr>
</table>
