.rainbow-text {
  
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
}

header{
  background-image: url("../../assets/bluetexture.gif");
}

.blink {
  animation: blink 30s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red);
    -webkit-background-clip: text;
    color: transparent;
    
  
  
  }
  14% {
    background-image: linear-gradient(
      to left,
      red,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange
      );
      -webkit-background-clip: text;
      color: transparent;
     
  }

  28% {
    background-image: linear-gradient(
      to left,
      orange,
      red,
      violet,
      indigo,
      blue,
      green,
      yellow
      
      );
      -webkit-background-clip: text;
      color: transparent;
     
  }

  42% {
    background-image: linear-gradient(
      to left,
      yellow,
      orange,
      red,
      violet,
      indigo,
      blue,
      green
     
      
      );
      -webkit-background-clip: text;
      color: transparent;
     
  }
  
  56% {
    background-image: linear-gradient(
      to left,
      green,
      yellow,
      orange,
      red,
      violet,
      indigo,
      blue
      
      );
      -webkit-background-clip: text;
      color: transparent;
     
  }

  70% {
    background-image: linear-gradient(
      to left,
      blue,
      green,
      yellow,
      orange,
      red,
      violet,
      indigo
     
      
      );
      -webkit-background-clip: text;
      color: transparent;
     
  }

  84% {
    background-image: linear-gradient(
      to left,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red,
      violet
      
      );
      -webkit-background-clip: text;
      color: transparent;
     
  }

  98% {
    background-image: linear-gradient(
      to left,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red,
      
      
      );
      -webkit-background-clip: text;
      color: transparent;
     
  }
}

.click {
  padding: 4px;
  color: rgb(255, 255, 255);
  background-color: rgb(102, 102, 204);
}

.click:hover {
  background-color: rgb(102, 102, 255);
  cursor: pointer;
}

.center {
  margin-left: auto;
  margin-right: auto;
}
