<header class="header">
  <table class="center">
    <tr>
      <th><img src="../../assets/twinkles.gif" /></th>
      <th><h1 class="rainbow-text blink">Welcome to my amazing Website!!!</h1></th>
      <th><img src="../../assets/twinkles.gif" /></th>
    </tr>
  </table>
</header>

<table style="width: 100%">
  <tr>
    <th class="click" routerLink="about"><a>About</a></th>
    <th class="click" routerLink="buttons">Free Buttons</th>
    <th class="click">Projects</th>
    <th class="click">Contact</th>
  </tr>
</table>
