<!-- <nav class="navbar fixed-bottom navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand extern-rainbow-text">AWESITE</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <audio controls>
          
          <source src="assets/lofi-bg.mp3" type="audio/mpeg" />
        </audio>
      </div>
    </div>
  </div>
</nav> -->
