<!-- <table>
  <tr>
    <th>crazy 1000 elo chess game</th>
  </tr>
  <td>
    <iframe
      src="https://lichess.org/embed/game/d7ZRkkbO?theme=auto&bg=auto"
      width="600"
      height="397"
      frameborder="0"
    ></iframe>
  </td>
</table>

<table>
  <tr>
    <th>crazy 1000 elo chess game</th>
  </tr>
  <td>
    <iframe
      src="https://lichess.org/embed/game/mbWrg9la?theme=auto&bg=auto#4"
      width="600"
      height="397"
      frameborder="0"
    ></iframe>
  </td>
</table>



<table>
  <tr>
    <th>crazy 1000 elo chess game</th>
  </tr>
  <td>
    <iframe src="https://lichess.org/embed/game/di5uh60G?theme=auto&bg=auto"
width=600 height=397 frameborder=0></iframe>
  </td>
</table>


<iframe src="https://lichess.org/embed/game/nNtdg6zU?theme=auto&bg=auto#0"
width=600 height=397 frameborder=0></iframe> -->
