<table class="center about-background">
  <tr>
    <th colspan="2"><h1>Welcome to Awesite!</h1></th>
  </tr>

  <tr>
    <th colspan="2">
      <h2><u>About this site</u></h2>
    </th>
  </tr>

  <tr>
    <td>
      <p>
        This Website contains all the information you'll ever need. Have fun
        exploring all the awesome content and tools, images etc. that you'll
        find here.
      </p>
    </td>
  </tr>
  <tr>
    <td>
      <img src="../../assets/buttons/made_with_windows.gif" />
      <img src="../../assets/buttons/h-free-anim.gif" />
    </td>
  </tr>
</table>
