.visits-container {
  display: flex;
}

.counter {
  height: 22px;
  padding-left: 4px;
}

hr {
  height: 20px;
}

.welcome-text {
  background-color: rgb(33,37,41);
}

h1 {
  margin: 0px !important;
}
