<div class="welcome-text p-3">
  <h1 class="center-text">Welcome to Awesite!</h1>
</div>

<br />

<div>
  <p>
    This is a personal Website made by me. This site is currently under
    construction, but I'll make sure that there is always a working version
    available.
  </p>
  <p>
    At first, I wanted to make this website really goofy, but as the Website
    grew, I felt like this approach isn't really what I wanted. This Website
    needed a new, fresh design, which is the one I am working on rn.
    <br /><br />
    What about the content of this site? - I want to make this Website to
    contain all information that I've collected over the years of using new
    technologies, especially so the Internet.
   
  </p>
</div>
<hr />

<!-- Start of CuterCounter Code -->
<div class="visits-container">
  <p>Visits:</p>
  <img
    class="counter"
    src="https://www.cutercounter.com/hits.php?id=hxndxnp&nd=6&style=1"
    alt="visitor counter"
  />
</div>
<!-- End of CuterCounter Code -->
<div>
  <img src="../../assets/gifs/change.gif" />
</div>

<div>
  <img src="../../assets/buttons/made_with_windows.gif" />
  <img src="../../assets/buttons/h-free-anim.gif" />
</div>
