<div class="center">
  <div>
    <h1 class="center-text">Welcome to Awesite!</h1>
  </div>

  <div>
    <h2 class="center-text"><u>About this site</u></h2>
  </div>

  <div>
    <img class="change" src="../../assets/gifs/change.gif" />
  </div>

  <div>
    <p>
      At first, I wanted to make this website really goofy, but as the Website
      grew, I felt like this approach isn't really what I wanted. This Website
      needed a new, fresh design, which is the one I am working on rn.
      <br /><br />
      What about the content of this site? - I want to make this Website to
      contain all information that I've collected over the years of using new
      technologies, especially so the Internet. Just recently I cleaned up my
      Computer, where I rediscovered some old and valuable memories. This got me
      thinking about this Website, and this is where I am now.
      <br /><br />
      Alright, enough talk for now... By the way, I am really glad you've found
      your way here! And with that - it is time for you to embark on your
      adventure!
    </p>
  </div>

  <div>
    <img src="../../assets/buttons/made_with_windows.gif" />
    <img src="../../assets/buttons/h-free-anim.gif" />
  </div>
</div>
