.parent {
  position: relative; 
  top: 0;
  left: 0;
}
.marin {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.fish {
  width: auto;
  position: absolute;
  top: 0px;
  left: -256px;
}

.pengu {
  position: absolute;
  left: 0px;
  top: 440px;
  width: 100%;
}

.albedo {
width: 50%;
  position: absolute;
  top: 0px;
  left: 100%;
}

.albedo2 {
  width: 50%;
  position: absolute;
  top: 0px;
  right: 100%;
}
.asuka {
  width: calc(1050px / 2);
  top: 300px;
  right: 0;
}

.rei {
  width: 50%;
  position: absolute;
  top: 200px;
  right: -20%;
}
