.title {
  color: black !important;
}

.pre,
#web_chat {
  padding: 5px;
  background-color: #eee;
}

textarea {
  width: 100%;
  resize: vertical;
}
#web_chat{
  display: flex;
  flex-direction: column-reverse;
}