<p>
  Welcome to the 'gif & button library'. You can use these cool pictures for
  your own website! Just Right-click & save them to ur Computer
</p>
<table class="center buttons-background">
  <tr>
    <th><p>Buttons</p></th>
  </tr>
  <td>
    <img
      *ngFor="let button of buttons; index as i"
      src="../../assets/buttons/{{ button }}"
    />
  </td>
</table>
<br />
<table class="center buttons-background">
  <tr>
    <th><p>Other</p></th>
  </tr>
  <td>
    <img
      *ngFor="let gif of gifs; index as i"
      src="../../assets/gifs/{{ gif }}"
    />
  </td>
</table>

<table class="center buttons-background">
  <tr>
    <th><p>N word pass</p></th>
  </tr>
  <td>
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/001/461/309/f39.jpg">
  </td>
</table>