<div class="center">
  <p>
    Welcome to the 'gif & button library'. You can use these cool pictures for
    your own website! Just Right-click & save them to ur Computer
  </p>

  <br />
  <div>
    <h2>Buttons</h2>
  </div>

  <div>
    <img
      *ngFor="let button of buttons; index as i"
      src="../../assets/buttons/{{ button }}"
    />
  </div>

  <br />
  <div>
    <h2>Other</h2>
  </div>

  <div>
    <img
      *ngFor="let gif of gifs; index as i"
      src="../../assets/gifs/{{ gif }}"
    />
  </div>

  <br />
  <div>
    <h2>N word pass</h2>
  </div>

  <div>
    <img
      src="https://i.kym-cdn.com/photos/images/newsfeed/001/461/309/f39.jpg"
    />
  </div>
</div>