<div class="container mt-3">
  <h1>Image library</h1>
  <p>
    All the images used on this website are displayed here. Please note that the
    images don't actually have any functionality, but are only for display.
  </p>
  <br />
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#buttons"
        >buttons</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#gifs">gif</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#backgrounds"
        >backgrounds</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#other">other</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="buttons" class="container tab-pane active">
      <br />
      <div>
        <img
          *ngFor="let button of buttons; index as i"
          src="../../assets/buttons/{{ button }}"
        />
      </div>
    </div>

    <div id="gifs" class="container tab-pane fade">
      <br />
      <div>
        <img
          *ngFor="let gif of gifs; index as i"
          src="../../assets/gifs/{{ gif }}"
        />
      </div>
    </div>

    <div id="backgrounds" class="container tab-pane fade">
      <br />
      <div>
        <img
          *ngFor="let background of backgrounds; index as i"
          src="../../assets/backgrounds/{{ background }}"
        />
      </div>
    </div>

    <div id="other" class="container tab-pane fade">
      <br />
      <div>
        <img
          src="https://i.kym-cdn.com/photos/images/newsfeed/001/461/309/f39.jpg"
        />
      </div>
    </div>
  </div>
</div>
