<app-header></app-header>

<div class="website-container">
  <div class="space">
    <!-- <h1 class="extern-rainbow-text">AWESITE</h1>
    <div class="flex">
      <div class="click" routerLink="about">About</div>
      <div class="click" routerLink="buttons">Buttons n Gifs</div>
      <div class="click" routerLink="music">Music</div>
      <div class="click" routerLink="anime">Anime</div>
      <div class="click" routerLink="ideas">Clipboard</div>
      <div class="click" routerLink="cli">CLI</div>
      <div class="click" routerLink="spam">spam</div>
    </div> -->
  </div>

  <div class="content">
    
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>

  <div class="space">
    <!-- <h1 class="extern-rainbow-text">AWESITE</h1>
    <div class="center flex">
      <div class="click" routerLink="about">About</div>
      <div class="click" routerLink="buttons">Buttons n Gifs</div>
      <div class="click" routerLink="music">Music</div>
      <div class="click" routerLink="anime">Anime</div>
      <div class="click" routerLink="ideas">Clipboard</div>
      <div class="click" routerLink="cli">CLI</div>
      <div class="click" routerLink="spam">spam</div>
    </div>
  </div> -->
  </div>
</div>
