.extern-rainbow-text {
  font-size: larger;
  font-weight: 500;
  animation: rainbow-text 3.5s steps(1, end) infinite;
}

@keyframes rainbow-text {
  0% {
    background-image: linear-gradient(
      to right,
      #ff7777,
      #cc44cc,
      #0000aa,
      #00cc55,
      #eeee77,
      #dd8855,
      #880000
    );
    -webkit-background-clip: text;
    color: transparent;
  }
  14% {
    background-image: linear-gradient(
      to right,
      #880000,
      #ff7777,
      #cc44cc,
      #0000aa,
      #00cc55,
      #eeee77,
      #dd8855
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  28% {
    background-image: linear-gradient(
      to right,
      #dd8855,
      #880000,
      #ff7777,
      #cc44cc,
      #0000aa,
      #00cc55,
      #eeee77
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  42% {
    background-image: linear-gradient(
      to right,
      #eeee77,
      #dd8855,
      #880000,
      #ff7777,
      #cc44cc,
      #0000aa,
      #00cc55
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  56% {
    background-image: linear-gradient(
      to right,
      #00cc55,
      #eeee77,
      #dd8855,
      #880000,
      #ff7777,
      #cc44cc,
      #0000aa
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  70% {
    background-image: linear-gradient(
      to right,
      #0000aa,
      #00cc55,
      #eeee77,
      #dd8855,
      #880000,
      #ff7777,
      #cc44cc
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  84% {
    background-image: linear-gradient(
      to right,
      #cc44cc,
      #0000aa,
      #00cc55,
      #eeee77,
      #dd8855,
      #880000,
      #ff7777
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  98% {
    background-image: linear-gradient(
      to right,
      #ff7777,
      #cc44cc,
      #0000aa,
      #00cc55,
      #eeee77,
      #dd8855,
      #880000
    );
    -webkit-background-clip: text;
    color: transparent;
  }
}
