.music-button {
  color: white;
  padding: 8px !important;
  font-weight: 200 !important;
  font-size: 20px !important;
  background-color: rgb(33,37,41);
  border: none;
  width: 100%;
}

.music-button:hover {
  cursor: pointer;
  background-color: rgb(102, 102, 204);
}

img{
    width: 100%;
}

